@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto:300,400,500,700,900&display=swap');

@import url("reset.css");
@import url("variables.css");
@import url("grid.css");
@import url("font-awesome.css");
@import url('movie-details.css');
@import url('screen.css');
@import url('movie-card.css');
@import url('movie-modal-popup.css');
@import url('actor-details.css');
@import url('movie-search.css');

body {
	line-height: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:400;
    letter-spacing: 0.01rem;
}
h1,h2,h3,h4,h5,h6{font-family: 'Archivo Black', sans-serif;
}
p{font-size: 1rem; line-height: 1rem;}
.text-center{text-align: center;}
.container{
    max-width: 1280px;
    width:100%;
    margin:0 auto;
}
.d-flex{
    display: flex;
        }

.align-around{justify-content: space-between;}
.alignself-end{justify-content: flex-end;}
.alignself-center{align-self: center;}

/* button css */

.btn-default{
    background: transparent;
    padding: 0.25rem;
    border: none;
    font-size: 1rem;
    color: var(--gray);
}
.btn-close{
    background: transparent;
    padding: 0.75rem 1rem;
    border: 1px solid var(--gray);
    font-size: 1rem;
    color: var(--gray);
    border-radius: 0.25rem;
    box-shadow: 0px 0px 2px 2px #7b727229;
}


/* heading css  */
.tittle__3{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 1.5rem 0rem;
    padding: 0.25rem;;
    text-transform: capitalize;
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto
}