@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto:300,400,500,700,900&display=swap');

@import url("reset.css");
@import url("variables.css");
@import url("grid.css");
@import url("font-awesome.css");
@import url('movie-details.css');
@import url('screen.css');
@import url('movie-card.css');
@import url('movie-modal-popup.css');
@import url('actor-details.css');

body {
	line-height: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:400;
    letter-spacing: 0.01rem;
}
h1,h2,h3,h4,h5,h6{font-family: 'Archivo Black', sans-serif;
}
.container{
    max-width: 1280px;
    width:100%;
    margin:0 auto;
}
.d-flex{display: flex;
        }

.align-around{justify-content: space-between;}
.alignself-end{justify-content: flex-end;}
.alignself-center{align-self: center;}

/* button css */

.btn-default{
    background: transparent;
    padding: 0.25rem;
    border: none;
    font-size: 1rem;
    color: var(--gray);
}
.btn-close{
    background: transparent;
    padding: 0.75rem 1rem;
    border: 1px solid var(--gray);
    font-size: 1rem;
    color: var(--gray);
    border-radius: 0.25rem;
    box-shadow: 0px 0px 2px 2px #7b727229;
}

/* text color css */
.text-black{color:var(--black);}
.text-blue{color:var(--blue);}
.text-white{color:var(--white);}
.text-gray{color:var(--gray);}
.text-red{color:var(--red);}


/* background color */
.bg-white{background-color:var(--white);}
.bg-dark-black{background-color:var(--dark-black);}
.bg-black{background-color:var(--black);}
.bg-gray{background-color:var(--gray);}
.bg-red{background-color:var(--red);}
.bg-light{background-color:var(--light);}

/* heading css  */
.tittle__3{
    font-size: 1.15rem;
    margin: 0.5rem 0rem;
    padding: 0.25rem;;
    text-transform: capitalize;
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto
}